<div class="jumbotron">
  <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
    <div class="inner">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/corporate/dashboard">Sedolpay</a></li>
        <li class="breadcrumb-item active">External Transfer</li>
      </ol>
    </div>
    <h4 class="page-title sm-p-l-20">
      External Transfer
    </h4>
  </div>
</div>
<div class="container-fluid container-fixed-lg">
  <form [formGroup]="validationForm" novalidate>
    <div class="card card-default">
      <div class="card-header">
        <h4>Choose Account</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('payType')">
              <label>Payment Type</label>
              <pg-select style="width: 100%;" [PlaceHolder]="'Select Type'" formControlName="payType">
                <pg-option *ngFor="let option of paymenttype" [Label]="option" [Value]="option">
                </pg-option>
              </pg-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('fromAc')">
              <label>From Account</label>
              <pg-select style="width: 100%;" [PlaceHolder]="'Select Account'" formControlName="fromAc" (OpenChange)="fromAccountSelected()">
                <pg-option *ngFor="let option of accounts" [Label]="getFromAccountLabel(option)" [Value]="option.accNo">
                </pg-option>
              </pg-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('viban')">
              <label>Select Account</label>
              <pg-select style="width: 100%;" [PlaceHolder]="'Select Account'" formControlName="viban" (OpenChange)="vibanSelected()">
                <pg-option *ngFor="let option of accounts" [Label]="option.viban" [Value]="option.viban">
                </pg-option>
              </pg-select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h4>Beneficiary</h4>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('toAc')">
              <label>Name</label>
              <pg-select style="width: 100%;" [PlaceHolder]="'Select Account'" formControlName="toAc" (OpenChange)="benefSelected()">
                <pg-option *ngFor="let option of benefAccounts" [Label]="option.name" [Value]="option.accNo">
                </pg-option>
              </pg-select>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('acNo')">
              <label>Account No</label>
              <input type="text" class="form-control" required="" placeholder="Enter Account Number" formControlName="acNo">
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('type')">
              <label>Type</label>
              <pg-select style="width: 100%;" [PlaceHolder]="'Select Type'" [NotFoundContent]="'Not found'"
                formControlName="type">
                <pg-option *ngFor="let option of type" [Label]="option" [Value]="option">
                </pg-option>
              </pg-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('addr')">
              <label>Address</label>
              <input type="text" class="form-control" formControlName="addr" placeholder="Enter Address">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('country')">
              <label>Country</label>
              <pg-select style="width: 100%;" [ShowSearch]="'true'" formControlName="country" [PlaceHolder]="'Select Option'">
                <pg-option *ngFor="let option of countries" [Label]="option.name" [Value]="option.code">
                </pg-option>
              </pg-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="form-group form-group-default">
              <label>Bank SWIFT BIC</label>
              <input type="text" class="form-control" formControlName="bankSwift" placeholder="Enter Bank SWIFT BIC">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-group form-group-default">
              <label>Bank Routing Code</label>
              <input type="text" class="form-control" formControlName="bankCode" placeholder="Enter Bank Routing Code">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('bankName')">
              <label>Bank Name </label>
              <input type="text" class="form-control" formControlName="bankName" placeholder="Enter Bank Name">
            </div>
          </div>

        </div>
      </div>
      <div class="card-body payment-det" [hidden]="!isAccountSelected()">
        <h4>Payment Details</h4>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('payAmt')">
              <label>Amount (Balance {{ getAvailableBal() }})</label>
              <input type="number" class="form-control" formControlName="payAmt" placeholder="Type Amount">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group form-group-default input-group required">
              <div class="form-input-group">
                <label>Payment Date</label>
                <pg-datepicker Placeholder="Pay Date" formControlName="payDate" [Format]="'YYYY-MM-DD'"></pg-datepicker>
              </div>
              <div class="input-group-append ">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('remarks')">
              <label>Remarks</label>
              <input type="text" class="form-control" formControlName="remarks" placeholder="Type Remarks">
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <button class="btn btn-primary btn-lg short btn-block" [disabled]="isBeneficiaryInValid()"
              (click)="transferPayment()">SEND
              PAYMENT REQUEST</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>