<div class="jumbotron" data-pages="parallax">
  <div class=" container-fluid   container-fixed-lg sm-p-l-0 sm-p-r-0">

    <div class="inner">
      <!-- START BREADCRUMB -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.html">Sedolpay</a></li>
        <li class="breadcrumb-item active">Contact Us</li>
      </ol>
      <!-- END BREADCRUMB -->
    </div>
    <h4 class="page-title sm-p-l-20">
      Contact Us
    </h4>

  </div>
</div>

<div class="container-fluid container-fixed-lg">

  <div class="row">
    <div class="col-md-6">
      <h2>How can we assist you?</h2>
      <div class="p-r-40 sm-p-r-0">
        <p>Send us your enquiries or message and one of our client service representatives will contact you
          shortly.</p>
        <br>
        <br>
        <p class="semi-bold no-margin">Fill up this form to contact us if you have any futher questions</p>
        <form role="form" class="m-t-15">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>First name</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>Last name</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group form-group-default">
            <label>Email</label>
            <input type="email" placeholder="This can be changed later" class="form-control">
          </div>
          <div class="form-group form-group-default">
            <label>Message</label>
            <textarea placeholder="Type the message you wish to send" style="height:100px" class="form-control"></textarea>
          </div>
          <div class="sm-p-t-10 clearfix">
            <p class="pull-left small hint-text m-t-5 font-arial">I hereby certify that the information above
              is true and
              accurate. </p>
            <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Submit</button>
          </div>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="visible-xs visible-sm b-b b-grey-light m-t-35 m-b-30"></div>
      <div class="p-l-40 sm-p-l-0 sm-p-t-10">
        <div class="row m-t-50 sm-m-t-0">
          <div class="col-sm-6">
            <h5 class="block-title hint-text m-b-0">Technical/Legislative Office: </h5>
            <p class="hint-text no-margin"><span class="fs-12 font-montserrat bold all-caps p-r-10">Tel</span>
              <span class="fs-14">+357 96591177</span>
            </p>
            <br>
            <address class="m-t-10">16 Stasikratous, 7th Floor
              <br> Nicosia – Cyprus</address>
          </div>
          <div class="col-sm-6">
            <h5 class="block-title hint-text m-b-0">Administration Office: </h5>
            <p class="hint-text no-margin"><span class="fs-12 font-montserrat bold all-caps p-r-10">Tel</span>
              <span class="fs-14"> +356 21 440306</span></p>
            <br>
            <address class="m-t-10">270 Zabbar Road,
              <br> Fgura, FGR1011,
              <br> Malta.
            </address>
          </div>
        </div>
        <br>
        <br>
        <h5 class="block-title hint-text m-b-0">sedolPay Public Inquiries &amp; Communications </h5>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <p class="fs-12 font-montserrat bold all-caps no-margin hint-text">Hotline </p>
            <p class="hint-text no-margin fs-14">+356 21 440306</p>
          </div>
          <div class="col-sm-6">
            <p class="fs-12 font-montserrat bold all-caps no-margin hint-text">Email </p>
            <p class="hint-text no-margin fs-14">support@sedolpay.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>