<div class="jumbotron">
  <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
    <div class="inner">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/corporate/dashboard">Belight Payments</a></li>
        <li class="breadcrumb-item active">Account portfolio</li>
      </ol>
    </div>
    <h4 class="page-title sm-p-l-20">
      Account portfolio
    </h4>
  </div>
</div>
<div class=" container-fluid   container-fixed-lg">
  <form class="" role="form">
    <div class="card card-default">
      <div class="card-header search-bg">
        <h5>
          Search & Filter
        </h5>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="form-group form-group-default required ">
              <label>Account No</label>
              <input type="text" class="form-control" (input)="filter()" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
                placeholder="Type Account Number">
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-group form-group form-group-default form-group-default-select2 required">
              <label class="">Type</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}"
                (OpenChange)="filter()" [PlaceHolder]="'Select Option'">
                <pg-option *ngFor="let option of type" [Label]="option" [Value]="option">
                </pg-option>
              </pg-select>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-group form-group form-group-default form-group-default-select2 required">
              <label class="">Currency</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedCurrency" [ngModelOptions]="{standalone: true}"
                (OpenChange)="filter()" [PlaceHolder]="'Select Option'">
                <pg-option [Label]="'All'" [Value]="'All'">
                </pg-option>
                <pg-option *ngFor="let option of viewcurrency" [Label]="option" [Value]="option">
                </pg-option>
              </pg-select>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="form-group form-group form-group-default form-group-default-select2 required">
              <label class="">View Currency</label>
              <pg-select style="width: 100%;" [(ngModel)]="selectedViewcurrency" [ngModelOptions]="{standalone: true}"
                [PlaceHolder]="'Select Option'">
                <pg-option *ngFor="let option of viewcurrency" [Label]="option" [Value]="option" [Disabled]="option.disabled">
                </pg-option>
              </pg-select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="basicTable">
            <thead>
              <tr>
                <th style="width:1%" class="text-center">
                  No
                </th>
                <th style="width:20%">Account No</th>
                <th style="width:24%">VIBAN</th>
                <th style="width:10%">Type</th>
                <th style="width:15%">Available Balance Currency</th>
                <th style="width:10%">FX Rate</th>
                <th style="width:15%">Available Balance in EUR</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of accounts; let i = index">
                <td class="v-align-middle">
                  {{ i + 1 }}
                </td>
                <td class="v-align-middle" style="padding-left: .75rem;">
                  {{ account.accNo }}
                </td>
                <td class="v-align-middle" style="padding-left: .75rem;">
                  {{ account.viban }}
                </td>
                <td class="v-align-middle" style="padding-left: .75rem;">
                  {{ account.type }}
                </td>
                <td class="v-align-middle" style="padding-left: .75rem;">
                  {{ account.availbalance }}{{account.cur}}
                </td>
                <td class="v-align-middle" style="padding-left: .75rem;">
                  {{ getFixRate(account) }}
                </td>
                <td class="v-align-middle" style="padding-left: .75rem;">
                  {{ getFixAmount(account) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>