<div class="jumbotron">
  <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
    <div class="inner">
      <ol class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/corporate/dashboard">Belight Payments</a></li>
          <li class="breadcrumb-item active">My Profile</li>
        </ol>
      </ol>
    </div>
    <h4 class="page-title sm-p-l-20">
      My Profile
    </h4>
  </div>
</div>
<div class=" container-fluid   container-fixed-lg">
  <form [formGroup]="validationForm" novalidate>
    <div class="card-header">
      <h5>
        Update Profile
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('firstName')">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-default">
            <label>Middle Name</label>
            <input type="text" class="form-control" formControlName="middleName">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('lastName')">
            <label>Last name</label>
            <input type="text" class="form-control" formControlName="lastName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('address1')">
            <label>Address Line 1</label>
            <input type="text" class="form-control" formControlName="address1">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group  form-group-default required" [ngStyle]="getControlBorderColour('address2')">
            <label>Address Line 2</label>
            <input type="text" class="form-control" formControlName="address2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('zip')">
            <label>Zip/Postal Code</label>
            <input type="text" class="form-control" formControlName="zip">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('country')">
            <label>Country</label>
            <pg-select style="width: 100%;" [ShowSearch]="'true'" formControlName="country" [PlaceHolder]="'Select Country'">
              <pg-option *ngFor="let option of countries" [Label]="option.name" [Value]="option.code">
              </pg-option>
            </pg-select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('timezone')">
            <label class="">Timezone</label>
            <pg-select style="width: 100%;" [ShowSearch]="'true'" formControlName="timezone" [PlaceHolder]="'Select Timezone'">
              <pg-option *ngFor="let option of timezone" [Label]="getTimezoneLabel(option.offset, option.id)" [Value]="option.id">
              </pg-option>
            </pg-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('mobile')">
            <label>Mobile No.</label>
            <input type="text" class="form-control" formControlName="mobile">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>Telephone No.</label>
            <input type="text" class="form-control" formControlName="telephone">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default input-group required" [ngStyle]="getControlBorderColour('dob')">
            <div class="form-input-group">
              <label>Date of Birth</label>
              <pg-datepicker Placeholder="Date of Birth" formControlName="dob" [Format]="'YYYY-MM-DD'"></pg-datepicker>
            </div>
            <div class="input-group-append ">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('email')">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="example@example.com">
          </div>
        </div>
      </div>
      <button class="btn btn-primary m-t-30" [disabled]="validationForm.invalid || loading" (click)="updateProfile()">Update
        Profile</button>
    </div>
  </form>
  <form [formGroup]="passwordValidationForm" novalidate>
    <div class="card card-default">
      <div class="card-header">
        <h5>
          Update Password
        </h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group form-group-default required" [ngStyle]="getPasswordControlBorderColour('oldPass')">
              <label>Current Password</label>
              <input type="password" class="form-control" formControlName="oldPass" placeholder="*********">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-group-default required" [ngStyle]="getPasswordControlBorderColour('newPass')">
              <label>New Password</label>
              <input type="password" class="form-control" formControlName="newPass" placeholder="*********">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group form-group-default" [ngStyle]="getPasswordControlBorderColour('newPassConfirm')">
              <label>Repeat New Password</label>
              <input type="password" class="form-control" formControlName="newPassConfirm" placeholder="*********">
            </div>
          </div>
        </div>
        <button class="btn btn-primary m-t-30" [disabled]="passwordValidationForm.invalid || loading" (click)="updatePassword()">Update
          Password</button>
      </div>
    </div>
  </form>
</div>