<div class="jumbotron">
  <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
    <div class="inner">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/corporate/dashboard">Sedolpay</a>
        </li>
        <li class="breadcrumb-item active">Manage Beneficiaries</li>
      </ol>
    </div>
    <h4 class="page-title sm-p-l-20">
      Manage Beneficiaries
    </h4>
  </div>
</div>
<div class="container-fluid container-fixed-lg">
  <div class="card card-default">
    <div class="card-header search-bg">
      <h5 class="pull-left">
        Search & Filter
      </h5>
      <button class="btn btn-primary pull-right" (click)="onAddSelect()" [hidden]="!isHidden">Add Beneficiary</button>
      <div class="clearfix">
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="form-group form-group-default">
            <label>Name</label>
            <input type="text" class="form-control" required="" placeholder="Enter Name" (input)="filter()" [(ngModel)]="selectedName">
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group form-group-default form-group-default-select2">
            <label>Type</label>
            <pg-select style="width: 100%;" [PlaceHolder]="'SelectType'" (OpenChange)="filter()" [(ngModel)]="selectedType">
              <pg-option *ngFor="let option of type" [Label]="option" [Value]="option">
              </pg-option>
            </pg-select>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group form-group-default ">
            <label>Account No</label>
            <input type="text" class="form-control" required="" placeholder="Enter Account Number" (input)="filter()"
              [(ngModel)]="selectedAcNo">
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group form-group form-group-default form-group-default-select2">
            <label>Country</label>
            <pg-select style="width: 100%;" [(ngModel)]="selecteCountry" [PlaceHolder]="'Select Option'" (OpenChange)="filter()">
              <pg-option *ngFor="let option of countries" [Label]="option.name" [Value]="option.code">
              </pg-option>
            </pg-select>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-group form-group-default  ">
            <label>Bank</label>
            <input type="text" class="form-control" required="" placeholder="Enter Bank Name" (input)="filter()"
              [(ngModel)]="selectedBank">
          </div>
        </div>
      </div>
    </div>
    <div id="benefElement" class="card-body">
      <form [formGroup]="validationForm" novalidate>
        <div class="add-beneficiary" [hidden]="isHidden">
          <div class="ab-header">
            <h5>{{ mode }} Beneficiary</h5>
          </div>
          <div class="ab-body">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('name')">
                  <label>Name</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('acNo')">
                  <label>Account No</label>
                  <input type="text" class="form-control" formControlName="acNo" placeholder="Enter Account Number">
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('bankType')">
                  <label>Type</label>
                  <pg-select style="width: 100%;" formControlName="bankType" [PlaceHolder]="'SelectType'">
                    <pg-option *ngFor="let option of type" [Label]="option" [Value]="option">
                    </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('addr')">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="addr" placeholder="Enter Address">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('country')">
                  <label>Country</label>
                  <pg-select style="width: 100%;" formControlName="country" [PlaceHolder]="'Select Option'">
                    <pg-option *ngFor="let option of countries" [Label]="option.name" [Value]="option.code">
                    </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('bankSwift')">
                  <label>Bank SWIFT BIC</label>
                  <input type="text" class="form-control" formControlName="bankSwift" placeholder="Enter Bank SWIFT BIC">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="form-group form-group-default" [ngStyle]="getControlBorderColour('bankCode')">
                  <label>Bank Routing Code</label>
                  <input type="text" class="form-control" formControlName="bankCode" placeholder="Enter Bank Routing Code">
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="form-group form-group-default required" [ngStyle]="getControlBorderColour('bankName')">
                  <label>Bank Name </label>
                  <input type="text" class="form-control" formControlName="bankName" placeholder="Enter Bank Name">
                </div>
              </div>
              <div class="col-md-2 col-sm-6">
                <div class="form-group form-group-default form-group-default-select2 required" [ngStyle]="getControlBorderColour('curr')">
                  <label>Currency</label>
                  <pg-select style="width: 100%;" formControlName="curr" [PlaceHolder]="'Select Currency'">
                    <pg-option *ngFor="let option of currency" [Label]="option.name" [Value]="option.code">
                    </pg-option>
                  </pg-select>
                </div>
              </div>
            </div>
          </div>
          <div class="ab-footer">
            <ng-container *ngIf="mode === 'Add'; else update">
              <button class="btn btn-primary mr-3" (click)="addbeneficiary()" [disabled]="validationForm.invalid || isLoading">Add
                Beneficiary
              </button>
            </ng-container>
            <ng-template #update>
              <button class="btn btn-primary mr-3" (click)="updatebeneficiary()" [disabled]="validationForm.invalid || isLoading">Update
                Beneficiary
              </button>
            </ng-template>
            <button class="btn btn-secondary" (click)=" onCancel()">Cancel</button>
          </div>
        </div>
      </form>
      <div class="table-responsive" [ngStyle]="{'pointer-events': !isHidden ? 'none' : 'auto'}">
        <table class="table table-hover" id="basicTable">
          <thead>
            <tr>
              <th style="width:1%" class="text-center">
                No
              </th>
              <th style="width:12%">Name</th>
              <th style="width:8%">Type</th>
              <th style="width:11%">Account No</th>
              <th style="width:26%">Address</th>
              <th style="width:5%">Country</th>
              <th style="width:8%">Bank SWIFT Code</th>
              <th style="width:8%">Bank Routing</th>
              <th style="width:10%">Bank Name</th>
              <th style="width:12%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let benef of availableBeneficiaries; let i = index">
              <td class="v-align-middle">{{ i + 1}}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.name }}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.accType }}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.accNo }}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.address }}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.country }}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.bankSWIFTBIC }}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.bankRoutingCode }}</td>
              <td class="v-align-middle" style="padding-left: .75rem;">{{ benef.bankName }}</td>
              <td class="v-align-middle">
                <button type="button" style="background: none; border: none;" [disabled]="true">
                  <span>
                    <i class="fa fa-trash  mr-2" (click)="openModal(deleteBenef, benef.benefId)"></i>
                  </span>
                  <span>
                    <i class="fa fa-edit" (click)="onUpdateSelect(benef)"></i>
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal popup for benef delete confirmation -->
<ng-template #deleteBenef let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Beneficiary deletion</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="dismissModal('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Please confirm that you want to delete <span class="text-primary">"{{ getBenefName() }}"</span> from
        your
        beneficiary list. This action can not be undone.</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="dismissModal('Cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="deleteBeneficiary()">Ok</button>
  </div>
</ng-template>