<div class="jumbotron page-cover" data-pages="parallax">
  <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
    <div class="inner">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/corporate/dashboard">Sedolpay</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>
    <h4 class="page-title sm-p-l-20">
      Dashboard
    </h4>
    <div class="container-md-height m-b-20">
      <div class="row m-lg-0">
        <div class="col-xl-7 col-lg-6 p-0 image-responsive-height">
          ​<picture>
            <source srcset="assets/img/cover.jpg" type="image/svg+xml">
            <img src="assets/img/cover.jpg" class="img-fluid" alt="...">
          </picture>

        </div>
        <div class="col-xl-5 col-lg-6">
          <div class="card card-transparent">
            <div class="card-header ">
              <div class="card-title">Welcome Ike
              </div>
            </div>
            <div class="card-body">
              <h3>One of the most underestimated elements of design is typography. However, it’s critical
                in both
                print and web media. We Made it Perfect in both.</h3>
              <p>This feature in our product specifically creates hinted fonts for various OS browsers;
                whether its
                Windows, Mac OSx, or ubuntu, it does it for all.</p>
              <br>

              <div class="helpalert">
                <a (click)="routeToSelectedSection('corporate/contact-us')" class="inline">
                  <i class="fa fa-question-circle" style="font-size:40px"></i>
                </a>
                <div class="inline m-l-10">
                  <p class="hint-text m-t-5 fs-13">Do you requre assistance <br> click <a (click)="routeToSelectedSection('corporate/contact-us')"
                      data-toggle="modal" class="bold" style="text-decoration: underline;">HERE</a>
                    to create a support
                    ticket</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" container-fluid  container-fixed-lg">
  <form class="" role="form">
    <div class="card card-default">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h5 class="page-title sm-p-l-20">
              Account Summary
            </h5>
            <div class="form-group form-group-default form-group-default-select2 required">
              <label class="">Account Number</label>
              <pg-select style="width: 100%;" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedAccounts" (OpenChange)="setAccount()"
                [PlaceHolder]="'Select Account'" [NotFoundContent]="'Not found'">
                <pg-option *ngFor="let option of accounts" [Label]="getAccountLabel(option)" [Value]="option.accNo">
                </pg-option>
              </pg-select>
            </div>
            <div class="form-group form-group-default">
              <label class="">Current Balance</label>
              <h1>{{ Currency }} {{ totalBalance }}</h1>
            </div>
          </div>
          <div class="col-md-8">
            <h5 class="page-title sm-p-l-20">
              Last 10 Transactions
            </h5>
            <button class="btn btn-primary btn-lg" (click)="routeToSelectedSection('corporate/reports/transaction-history')">Go
              to Transactions</button>
          </div>
        </div>
        <h5 class="page-title m-t-40">
          Quick Links
        </h5>
        <div class="row m-t-20">
          <a (click)="routeToSelectedSection('corporate/my-profile')" class="q-link">
            <i class="fa fa-user"></i>
            <p><br>My Profile</p>
          </a>
          <a (click)="routeToSelectedSection('corporate/manage-beneficiaries')" class="q-link">
            <i class="fa fa-users"></i>
            <p>Manage<br>Beneficiaries</p>
          </a>
          <a (click)="routeToSelectedSection('corporate/track-payments')" class="q-link">
            <i class="fas fa-search-dollar"></i>
            <p>Track<br>Payments</p>
          </a>
        </div>
        <h5 class="page-title m-t-40">
          Manage Accounts
        </h5>
        <div class="row m-t-20">
          <a (click)="routeToSelectedSection('corporate/manage-accounts/account-portfolio')" class="q-link">
            <i class="far fa-briefcase"></i>
            <p>Account<br>Portfolio</p>
          </a>
          <a (click)="routeToSelectedSection('corporate/manage-accounts/statements')" class="q-link">
            <i class="fas fa-list-ul"></i>
            <p>Account<br>Statements</p>
          </a>
          <a class="q-link">
            <i class="fas fa-plus-circle"></i>
            <p>Create<br>Account</p>
          </a>
        </div>
        <h5 class="page-title m-t-40">
          Payment Requests
        </h5>
        <div class="row m-t-20">
          <a (click)="routeToSelectedSection('corporate/payment-requests/own-account-transfer')" class="q-link">
            <i class="fas fa-sitemap"></i>
            <p>Own Account<br>Transfer</p>
          </a>
          <a (click)="routeToSelectedSection('corporate/payment-requests/internal-transfer')" class="q-link">
            <i class="fas fa-exchange-alt"></i>
            <p>Internal<br>Transfer</p>
          </a>
          <a (click)="routeToSelectedSection('corporate/payment-requests/external-transfer')" class="q-link">
            <i class="fas fa-directions"></i>
            <p>External<br>Transfer</p>
          </a>
          <a class="q-link">
            <i class="far fa-credit-card"></i>
            <p>Pay from<br>Card</p>
          </a>
        </div>
        <h5 class="page-title m-t-40">
          Reports
        </h5>
        <div class="row m-t-20">
          <a (click)="routeToSelectedSection('corporate/reports/payment-status')" class="q-link">
            <i class="far fa-list-alt"></i>
            <p>Payment<br>Status</p>
          </a>
          <a (click)="routeToSelectedSection('corporate/reports/transaction-history')" class="q-link">
            <i class="fas fa-history"></i>
            <p>History<br>Transaction</p>
          </a>
        </div>
      </div>
    </div>
  </form>
</div>